* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto;
    color: rgba(52, 52, 52, 0.87);

}

@media all and (min-width: 1200px) {

    header {
        width: 1024px !important;
    }

    .sidebar-toggler {
        display: none;
    }

    .wrapper {
        width: 1024px;
    }

    .header__main {
        width: 605px;
        font-size: 16px;
    }

    .redesign .header__main {
        width: 305px;
    }

    .external-link {
        width: 605px;
        padding-left: 206px;
    }

    .redesign .external-link {
        width: 100%;
        padding-left: 0px;
    }

    .header__main strong {
        font-size: 20px;
    }

    .content {
        width: 761px;
    }

    .content-main {
        width: 720px;

    }

    .footer__main {
        width: 984px;
        height: 272px;
    }

    .footer__main-col1 {
        width: 240px;
    }

    .footer__main-col3 {
        margin-left: 72px;
    }

    .copyright {
        width: 984px;
    }

    .left-sidebar {
        width: 260px;
        float: left;

    }
}


@media all and (min-width: 992px) {
    header {
        width: 1024px !important;
    }

    .sidebar-toggler {
        display: none;
    }

    .wrapper {
        width: 1024px;
    }

    .header__main {
        width: 605px;
        font-size: 16px;
    }

    .redesign .header__main {
        width: 305px;
    }

    .external-link {
        width: 605px;
        padding-left: 206px;

    }

    .redesign .external-link {
        width: 100%;
        padding-left: 0px;

    }

    .header__main strong {
        font-size: 20px;
    }

    .content {
        width: 761px;
    }

    .content-main {
        width: 720px;

    }

    .footer__main {
        width: 984px;
        height: 272px;
    }

    .footer__main-col1 {
        width: 240px;
    }

    .footer__main-col3 {
        margin-left: 72px;
    }

    .copyright {
        width: 984px;
    }

    .left-sidebar {
        width: 260px;
        float: left;

    }
}

@media all and (max-width: 991px) {
    .sidebar-toggler {
        display: none;
    }

    .left-sidebar {
        width: 260px;
        float: left;

    }

    .wrapper {
        width: 100%;
        padding: 5px;
    }

    .content-main {
        width: 700px;
    }

    .header__main {
        width: 52%;
        font-size: 13px;
    }

    .external-link {
        width: 52%;
        padding-left: 206px;

    }

    .redesign .external-link {
        width: 100%;
        padding-left: 0px;
    }

    .content-main {
        width: 60%;
    }

    .tickets .list {
        width: 146px !important;
    }

    .footer__main {
        width: 100%;
        height: 300px;
    }

    .copyright {
        width: 100%;
    }

    .footer__main-col3 {
        width: 30%;
    }

    .quote {
        width: 100% !important;
    }
}

@media all and (max-width: 768px) {
    .header__main {
        width: 37%;
        font-size: 13px;
    }

    .external-link {
        width: 37%;
        padding-left: 206px;
    }

    .redesign .external-link {
        width: 100%;
        padding-left: 0px;
    }

    .header__main strong {
        font-size: 16px;
    }

    .wrapper {
        margin-top: 0 !important;
        width: 100%;
    }

    .left-sidebar {
        display: none;
    }

    .left-sidebar.shown {
        display: block;
        width: 100%;
        box-shadow: 0px 6px 0px #E1E1E1;
    }

    .content,
    .content-main {
        width: 100%;
        padding: 5px;
    }

    .footer__main {
        width: 100%;
        padding: 5px;
        height: 384px;
    }

    .footer__main-col1 {
        width: 50%;
    }

    .footer__main-col3 {
        margin-left: 0;
    }

    .copyright {
        width: 100%;
    }

    .sidebar-toggler {
        display: block;
        height: 30px;
        text-align: center;
        padding-top: 5px;
        background: #F7F7F7;
    }

    .tickets .list:first-child {
        margin-left: 66px;
    }
}

@media all and (max-width: 575px) {
    .header-container {
        width: 575px;
    }

    .external-link {
        width: 575px;
        padding: 0;
    }


    .header__main strong {
        font-size: 16px;
    }

    .wrapper {
        margin-top: 0 !important;
        width: 575px;
    }

    .left-sidebar {
        display: none;
    }

    .left-sidebar.shown {
        display: block;
        width: 575px;
        box-shadow: 0px 6px 0px #E1E1E1;
    }

    .content,
    .content-main {
        width: 575px;
        padding: 5px;
    }

    .footer__main {
        width: 575px;
        padding: 5px;
        height: 384px;
    }

    .footer__main-col1 {
        width: 50%;
    }

    .footer__main-col3 {
        margin-left: 0;
    }

    .copyright {
        width: 575px;
    }

    .sidebar-toggler {
        display: block;
        height: 30px;
        text-align: center;
        padding-top: 5px;
        background: #F7F7F7;
    }

    .tickets .list {
        width: 181px !important;
    }
}

@media all and (max-width: 360px) {
    .header__main {
        display: none;
    }

    .external-link {
        padding: 0;
    }

    .wrapper {
        margin-top: 0 !important;
        width: 100%;
    }

    .left-sidebar {
        display: none;
    }

    .left-sidebar.shown {
        display: block;
        width: 100%;
        box-shadow: 0px 6px 0px #E1E1E1;
    }

    .content,
    .content-main {
        width: 100%;
        padding: 5px;
    }

    .footer__main {
        width: 100%;
        padding: 5px;
        height: 480px;
    }

    .footer__main-col1 {
        width: 50%;
    }

    .footer__main-col3 {
        margin-left: 0;
        width: 100%;
        clear: both;
    }

    .copyright {
        width: 100%;
    }

    .sidebar-toggler {
        display: block;
        height: 30px;
        text-align: center;
        padding-top: 5px;
        background: #F7F7F7;
    }

    .tickets .list {
        width: 181px !important;
        margin: auto !important;
        float: none !important;
    }

    .quote__text {
        height: auto !important;
    }


}

h1,
h2,
h3,
h4,
h5 {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #000000;
    font-size: 20px;
}



.splash {
    background-color: #E8EDF4;
}

a,
.btn-link,
.btn-link-red {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    text-decoration-line: none;
    color: #1B65C0;
}

.btn-link-red {
    color: #EB5757;
}

a:hover,
a:hover * {
    color: #F58522;
}

.redesign .btn-link-red {
    color: #FEBE98;
}

.redesign a:hover,
.redesign a:hover * {
    color: #FEBE98;
}

.social a:hover,
.social a:hover * {
    color: #fff;
    text-decoration: none;
}

p {
    display: block;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 16px;
    margin: 10px 0 10px;
}

strong {
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    font-size: 16px;
    color: #000000;
}

.form-control-inline,
.form-field-inline {
    display: inline-block;
}

.form-field-framed {
    background: rgba(0, 0, 0, 0.03);
    /* Border color */
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-field-inline {
    padding: 0 12px 0 0;
    margin-bottom: 8px;
    vertical-align: top;
}

.form-field-inline .btn {
    margin: 27px 0 0;
}

.form-field-inline input {
    width: 100%;
}

input.is-invalid {
    background: rgba(255, 0, 0, 0.4);
    border-color: red;
}

form small {
    font-style: italic;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    color: rgba(52, 52, 52, 0.87);
}

.row {
    display: block;
    width: 100%;
    clear: both;
    margin: 5px 0 10px;
    float: left;
}

.btn {
    margin: 5px 0;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: rgba(52, 52, 52, 0.87);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 139px;
    height: 32px;
    cursor: pointer;
    background: #F4F4F4;
}

.btn-inline {
    display: inline-block;
}

.btn-primary {
    color: #FFFFFF;
    background: #1B65C0;
}

.btn-warn {
    color: #FFFFFF;
    background: #D54747;
}

div,
label,
input,
button {
    display: block;
}

label {
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    color: rgba(52, 52, 52, 0.87);
    margin: 5px 0px;
}

.checkbox .label,
.radio .label {
    height: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 16px;

}

.checkbox input,
.radio input {
    display: none;
}

.checkbox .check {
    float: left;
    margin-right: 16px;
    width: 20px;
    height: 20px;
    background: url(/img/checkbox.png);
}

.checkbox input:checked~.check {
    width: 20px;
    height: 20px;
    background: url(img/checkbox-checked-green.png);
}

.checkbox input:checked~.label,
.radio input:checked~.label {
    color: #1B65C0;
}

.checkbox-green input:checked~.check,
.checkbox-green-checked input:checked~.check {
    background: url(img/checkbox-checked-green.png);
}

.checkbox-green input:checked~.label {
    color: #219653;
}

.checkbox-green-checked input:checked~.label,
.checkbox-green-checked .label {
    color: #219653;
}


.redesign .checkbox-red input:checked~.label {
    color: #FEBE98;
}

.radio .check {
    float: left;
    margin-right: 16px;
    width: 20px;
    height: 20px;
    background: url(img/radiobutton.png);
}

.radio input:checked~.check {
    width: 20px;
    height: 20px;
    background: url(img/radiobutton-checked.png);
}

.remove {
    width: 16px;
    height: 18px;
    background: url(img/remove.png);
    cursor: pointer;
}

table tr td {
    height: 60px;
    border-bottom: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 0 10px;
}

table tr th {
    height: 60px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 0 10px;
}

.table {
    width: 100%;
}

.table-headless tr:first-child td {
    border-top: 1px solid #C4C4C4;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 1px solid #C4C4C4;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 1px solid #C4C4C4;
}

table tbody tr:hover {
    background: rgba(0, 0, 0, 0.03);
}

table tr th {
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

table tr td {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: rgba(52, 52, 52, 0.87);
}

.edit {
    cursor: pointer;
    width: 18px;
    height: 16px;
    background: url(img/edit.png);
}

input,
select,
.select {
    padding-left: 10px;
    background: #FFFFFF;
    /* Border color */
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #000000;
}

textarea {
    background: rgba(0, 0, 0, 0.02);
    /* Border color */
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
}

input,
select,
.select {
    width: 170px;
    height: 32px;
}

.select {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.select__trigger {
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}

.select__trigger-arrow {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #c4c4c4 transparent transparent transparent;
}

.select__list {
    position: absolute;
    top: 32px;
    background: #fff;
    width: 170px;
    display: none;
    -webkit-box-shadow: 0px 6px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 14px -4px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.select.opened>.select__list {
    display: block;
}

.select__list-item {
    list-style: none;
    padding-left: 10px;
    margin: 5px 0;
}

.select__list-item.active,
.select__list-item:hover {
    background: #1B65C0;
    color: #fff;
}


.redesign .header-container {
    height: 150px;
    background: #4F5257;
}

header {
    width: 100%;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    color: #FFFFFF;
}

header div {
    float: left;
}

.fb,
.vk,
.telegram,
.ok {
    display: block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin: auto;
}

.socials__heading {
    font-size: 12px;
    color: #fff;
    display: block;
    text-align: center;
}


.social {
    padding-top: 25px;
    width: 45px;
    float: left;
}

.socials-header .social {
    padding-top: 22px;

}



.header__main {

    height: 90px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    padding-top: 18px;
    color: #FFFFFF;
}

.header__main strong {
    display: block;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.header__main span {
    display: block;
    color: #FFFFFF;
}

/*CONTENT*/
.wrapper {
    margin: 30px auto;
}

.wrapper-login {
    margin-bottom: 190px;
}

.left-sidebar {
    height: 395px;
    padding: 10px 0;
    background: #F7F7F7;
    box-shadow: 6px 6px 0px #E1E1E1;
    position: relative;
}

.nav-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 10px 12px 20px;
    display: block;
    width: 100%;
    color: #000000;
}

.nav-link-standard {
    /*height: 40px;*/
}

.nav-link.active {
    color: #1B65C0;
    border-left: 5px solid #1B65C0;
    padding-left: 15px;
}

.content {
    float: left;
    margin-bottom: 30px;
}

.content-main {
    float: right;
    min-height: 1240px;

}

/*FOOTER*/
footer {
    background: #E8EDF4;
    border-top: 1px solid #B3C0D2;
    clear: both;
}

footer .social {
    padding-top: 15px;
    width: 50px;
    float: left;
}

footer,
.footer__sub {
    width: 100%;

}

.footer__main {
    margin: auto;

}

.footer__main-col1 {

    float: left;
}

.footer__main-col2 {
    float: left;
    width: 157px;
}

.footer__main-col3 {

    float: left;
}

.footer__col-heading {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.15px;
    margin: 16px 0 0;
    color: rgba(0, 0, 0, 0.87);
}

.footer__main p,
.footer__main a {
    color: #34517A;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.15px;
    margin-top: 8px;
}

.footer__main a {
    text-decoration: underline;
}

.logo-footer {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin: 15px 0 9px;
    height: 25px;
    padding: 0;

}

.logo-footer .logo__orange {
    color: #F58522;
}

.footer__sub {
    height: 30px;
    border-top: 1px solid #B3C0D2;

}

.footer-nav li {
    list-style: none;
    margin-top: 8px;
}

.copyright {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: #34517A;
    margin: auto;
    padding: 7px 0 0;
}

/*login form*/
.login-form {
    width: 335px;
    height: 310px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    margin: 157px auto 20px;
}

.login-form__heading {
    margin: 19px 20px 0;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
    color: #000000;
}

.login-form .form-field {
    width: 294px;
    height: 58px;
    margin: 16px 20px 0;

}

.login-form .form-field label {

    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    height: 26px;
    color: rgba(52, 52, 52, 0.87);
}

.login-form .form-field input {
    background: rgba(0, 0, 0, 0.02);
    /* Border color */
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    width: 294px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #000000;
    height: 32px;
    padding-left: 10px;
}

.login-form__forgot {
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 14px;
    text-align: right;
    text-decoration-line: underline;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    color: #F58522;
}

.login-form__btn {
    margin: 56px auto;
}




.list {
    width: 540px;
}

.list__striped li:nth-child(odd) {
    background: #C4C4C4;
}

.list .list__item:first-child {
    border-top: 1px solid #C4C4C4;
}

.list__item {
    padding-top: 18px;
    list-style-type: none;
    height: 60px;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    /*padding-left: 58px;*/
    text-align: center;
}

.quote {
    position: relative;
    width: 410px;
    margin-top: 15px;
}

.quote__text {
    font-family: Cormorant Garamond;
    height: 65px;
    width: 80%;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    padding: 5px 20px 0 30px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

.quote__autor {
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.75px;
    color: rgba(0, 0, 0, 0.87);
    float: right;
    margin: 6px 0 0;
}

.quote__icon {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url(img/quote.png);
}

.quote__text-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 0 200px;
    border-color: transparent transparent transparent #ffffff;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #ffffff;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.new-course-form,
.edit-section-form,
.new-question-form,
.form-frame {
    padding: 19px 17px 22px 20px;
    border: 1px solid #C4C4C4;
}

.new-course-form.fancybox-content {
    width: 762px;
}

.new-question-form__answer-textarea {
    width: 520px;
    display: block;
    float: left
}

.new-question-form__checkbox {
    float: right;

}

.new-question-form__textarea {
    width: 100%;
}

.new-course-form__heading,
.edit-section-form__heading,
.docs-form__heading {
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
    color: #000000;
}

.add-img {
    float: left;
    margin: 10px 5px 0;
    width: 28px;
    height: 24px;
    background: url(img/add-photo.png);
}

.courses-table {
    width: 100%;
}

.courses-table td {
    text-align: left;
}

.courses-table td {
    height: 40px;
    font-size: 12px;
}

.courses-table td a {

    font-size: 14px;
}

.fa-trash-alt {
    color: #EB5757;
}

.redesign .fa-trash-alt {
    color: #FEBE98;
}

.fa-edit,
.fa-sign-in-alt {
    color: #1B65C0;
}

.ad-block {
    background: #F5F5F5;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.spacer {
    display: inline-block;
}

.no-margin {
    margin: 0;
}

.invalid-feedback {
    font-size: 12px;
    color: red;
}

.edit-section-form.fancybox-content {
    width: 812px;
}

.right-sidebar {
    width: 200px;
    float: left;
    margin-left: 24px;
}

.right-sidebar .ad-block {
    width: 200px;
    height: 380px;
}

.tickets .list {
    width: 232px;
    float: left;
    margin-right: 11px;
}

.tickets .list:last-child {
    margin-right: 0;
}

.tickets .list.double-col {
    width: 354px;
}

.tickets .list .list__item {
    height: 40px;
    padding-top: 7px;
}

.file-input-wrapper {
    position: relative;
    padding: 25px 0px 29px;
}

.file-input-wrapper * {
    margin: 0 auto;
    text-align: center;
}

.file-input-wrapper input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-input-wrapper small.info {
    display: block;
    margin-top: 10px;
}

.file-input-wrapper small.load,
.file-input-wrapper .loader {
    display: none;
}

.file-input-wrapper.loading .btn,
.file-input-wrapper.loading small.info {
    display: none;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.loader {
    width: 30px;
    height: 30px;
    background: url(img/loader.png);
    display: block;
    -webkit-animation: rotation 2s infinite linear;

}

.file-input-wrapper.loading .loader,
.file-input-wrapper.loading small.load {
    display: block;
}

.question {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 10px 20px 20px;
    position: relative;
    margin-bottom: 24px;
}

.question__number {
    width: 146px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    color: #1B65C0;

}

.question.has-errors {
    background: #FFEEEE;
    border: 1px solid #E5C2C2;
}

.question.no-errors {
    background: #EEFFF5;
    border: 1px solid #ABD6BD;
}

.question__remove {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.question__answers-list-item {
    position: relative;
    width: 100%;
}

.question__answers-list-item:hover>.question__answers-list-item__remove {
    display: block;
}

.question__answers-list-item__remove {
    color: #C4C4C4;
    position: absolute;
    left: 55px;
    top: 5px;
    cursor: pointer;
}

.question__additional-answer input {
    display: inline-block;
    width: 572px;
}

.question__additional-answer .btn {
    display: inline-block;
    width: 136px;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}

.question .question__text {
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

/*pagination*/
.page-item {
    list-style: none;
    border-top: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    display: block;
    float: left
}

.pagination .page-item:first-child {
    border-left: 1px solid #C4C4C4;
}

.page-link {
    width: 100%;
    height: 100%;
    display: block;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
    text-align: center;
    color: #828282;
    padding-top: 8px;
    text-decoration: none;
    vertical-align: middle;
}

.heading {
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
}

.page-link:hover,
.page-item.active .page-link {
    background: #F2F2F2;
}

.errors-heading {
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
    color: #EB5757;
}
.redesign .errors-heading {
    color: #FEBE98;
}

.success-heading {
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
    color: #219653;
}

.docs-form {
    float: left;
    width: 338px;
    height: 256px;
}

.docs-form-modal {
    width: 338px;
    height: 256px;
}

.docs-form input,
.docs-form .select,
.docs-form__input,
.docs-form__select {
    width: 100%;
}

.docs-form .form-field,
.docs-form__form-field {
    margin-bottom: 15px;
}

.docs-form .loader,
.docs-form .load,
.docs-form.loading .btn,
.docs-form.loading .info {
    display: none;
}

.docs-form.loading .loader,
.docs-form.loading .load {
    margin: 5px auto;
    display: block;
    text-align: center;
}

.answer-group {
    position: relative;
}

.insta-soc,
.ok {
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    border-radius: 36px;
    font-size: 24px;
    text-align: center;
    padding-top: 6px;
    display: block;
    margin: auto;
    font-weight: bold;
}

.ok {
    font-weight: normal;
}

.insta-soc-col {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    font-weight: 100;
}

.social a {
    text-decoration: none !important;
}

.back-href {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

.next-href {
    float: right;
    padding-top: 3px;
}

.protocol-checkbox {
    float: left;
}

.readonly {
    background: #eee;
}

.left-sidebar .left-sidebar__ads {
    margin-top: 65px;
}

.left-sidebar .left-sidebar__ads:last-child {
    margin-top: 25px;
}

.form-control-textarea {
    width: 481px;
    display: block;
    margin: 5px 0 5px 38px;
    background: #fff;
    height: 120px;
}

.form-control-textarea-section {
    width: 534px !important;
    margin: 5px 0 !important;
}

.doc-link {
    color: #000000;
}

.doc-link:hover {
    color: #1B65C0;
}

.external-link {
    color: #F58522;

    font-size: 16px;
    margin-top: -15px;
    width: 100%;
}

.external-link:hover,
.external-link:hover a {
    color: #FFFFFF;
}

.external-link a {
    color: #F58522;
    text-decoration: underline;
}

.mt-10 {
    margin-top: 10px;
}

.redesign .content-main {
    float: none;
}

.redesign .logo-img {
    width: 48px;
    height: 48px;
    background-size: contain;
    ;
    margin-top: 25px;
}

.redesign .logo {
    width: 236px;
}

.redesign .logo {
    font-size: 25px;
}

.header-menu {
    display: block;
}

.header-menu__item {
    color: #fff;
}