* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  color: wheat
}

.header__main {
  font-weight: 700;
  top: 0;
  width: 100%;
  padding: 5px;
  text-align: center
}

.wrapper {
  margin-top: 0
}

.content {
  padding: 5px
}

h1,h2,h3,h4,h5 {
  font-style: normal;
  line-height: normal;
  color: #d0bcbc;
  font-size: 16px
}

a {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  text-decoration-line: none;
  color: #1b65c0
}

a:hover,a:hover * {
  color: #f58522
}

p {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  font-size: 16px;
  margin: 10px 0 10px
}

.row {
  display: block;
  width: 100%;
  clear: both;
  margin: 5px 0 10px;
  float: left
}

button,div,input,label {
  display: block
}

label {
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #2c9738;
  margin: 5px 0
}

.checkbox.learn-status {
  font-size: .9rem;
  height: 1.4rem
}

.checkbox .label {
  height: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  font-size: .9rem
}

.checkbox input {
  display: none
}

.checkbox .check {
  float: left;
  margin-right: 16px;
  width: 20px;
  height: 20px;
  background: url(../img/checkbox.png)
}

.checkbox input:checked~.check {
  background: url(../img/checkbox-checked.png)
}

.checkbox input:checked~.label {
  color: #1b65c0
}

.green input:checked~.check {
  background: url(../img/checkbox-checked-green.png)
}

.green input:checked~.label {
  color: #00da5d
}

.red input:checked~.check {
  background: url(../img/checkbox-checked-red.png)
}

.red input:checked~.label {
  color: #a10202
}

input {
  padding-left: 10px;
  background: #fff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  color: #000
}

input {
  width: 170px;
  height: 32px
}

header {
  width: 100%;
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal
}

.content {
  margin-bottom: 10px
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(359deg)
  }
}

.question {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: 10px 20px 20px;
  position: relative
}

.question__number {
  width: 146px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: .9rem
}

.question__remove {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px
}

.question__answers-list-item {
  position: relative;
  width: 100%
}

.question__answers-list-item:hover>.question__answers-list-item__remove {
  display: block
}

.question__answers-list-item__remove {
  color: #c4c4c4;
  position: absolute;
  left: 55px;
  top: 5px;
  cursor: pointer
}

.question .question__text {
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  font-size: .9rem;
  color: rgb(150 159 255 / 87%);
}

.header.header__main,.wrapper {
  display: flex;
  justify-content: center;
  background: #262525;
}

.content {
  max-width: 700px;
  margin: auto
}

.head {
  display: flex;
  justify-content: center;
  background-color: rgb(100 100 100);
  position: sticky;
  top: 0;
  z-index: 1000
}

.head label {
  display: inline-block;
  margin-left: 5px;
  font-size: .8rem;
  color: inherit;
}

.head input {
  height: .7rem;
  margin-left: 5ch;
  width: fit-content
}

#cookie-consent-modal {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  z-index: 1000;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center
}

.modal-content {
  background-color: transparent;
  text-align: center
}

.modal-content p {
  color: #fff
}

.modal-content button {
  cursor: pointer;
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: .3rem .3rem;
  border-radius: 5px;
  font-size: .8rem;
  outline: 0;
  transition: transform .2s;
  display: initial
}

.modal-content button:hover {
  transform: scale(1.05)
}

.hidden {
  display: none!important
}
