* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
  color: rgba(52, 52, 52, 0.87);
}

.header__main {
  font-weight: bold;
  top: 0px;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.wrapper {
  margin-top: 0;
}

.content {
  padding: 5px;
}

h1,
h2,
h3,
h4,
h5 {
    font-style: normal;
    line-height: normal;
    color: #000000;
    font-size: 16px;
}

.splash {
    background-color: #E8EDF4;
}

a,
.btn-link,
.btn-link-red {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    text-decoration-line: none;
    color: #1B65C0;
}

.btn-link-red {
    color: #EB5757;
}

a:hover,
a:hover * {
    color: #F58522;
}

p {
    display: block;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 16px;
    margin: 10px 0 10px;
}

strong {
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    font-size: 16px;
    color: #000000;
}

.form-control-inline,
.form-field-inline {
    display: inline-block;
}

.form-field-framed {
    background: rgba(0, 0, 0, 0.03);
    /* Border color */
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-field-inline {
    padding: 0 12px 0 0;
    margin-bottom: 8px;
    vertical-align: top;
}

.form-field-inline .btn {
    margin: 27px 0 0;
}

.form-field-inline input {
    width: 100%;
}

input.is-invalid {
    background: rgba(255, 0, 0, 0.4);
    border-color: red;
}

form small {
    font-style: italic;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    color: rgba(52, 52, 52, 0.87);
}

.row {
    display: block;
    width: 100%;
    clear: both;
    margin: 5px 0 10px;
    float: left;
}

.btn {
    margin: 5px 0;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: rgba(52, 52, 52, 0.87);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 139px;
    height: 32px;
    cursor: pointer;
    background: #F4F4F4;
}

.btn-inline {
    display: inline-block;
}

.btn-primary {
    color: #FFFFFF;
    background: #1B65C0;
}

.btn-warn {
    color: #FFFFFF;
    background: #D54747;
}

div,
label,
input,
button {
    display: block;
}

label {
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    color: rgba(52, 52, 52, 0.87);
    margin: 5px 0px;
}

.checkbox .label,
.radio .label {
    height: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 16px;

}

.checkbox input,
.radio input {
    display: none;
}

.checkbox .check {
    float: left;
    margin-right: 16px;
    width: 20px;
    height: 20px;
    background: url(../img/checkbox.png);
}

.checkbox input:checked~.check {
    background: url(../img/checkbox-checked.png);
}

.checkbox input:checked~.label,
.radio input:checked~.label {
    color: #1B65C0;
}

.green input:checked~.check{
    background: url(../img/checkbox-checked-green.png);
}

.green input:checked~.label {
    color: #219653;
}

.red input:checked~.check {
    background: url(../img/checkbox-checked-red.png);
}

.red input:checked~.label {
    color: #EB5757;
}

.radio .check {
    float: left;
    margin-right: 16px;
    width: 20px;
    height: 20px;
    background: url(../img/radiobutton.png);
}

.radio input:checked~.check {
    width: 20px;
    height: 20px;
    background: url(../img/radiobutton-checked.png);
}

table tr td {
    height: 60px;
    border-bottom: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 0 10px;
}

table tr th {
    height: 60px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 0 10px;
}

.table {
    width: 100%;
}

.table-headless tr:first-child td {
    border-top: 1px solid #C4C4C4;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 1px solid #C4C4C4;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 1px solid #C4C4C4;
}

table tbody tr:hover {
    background: rgba(0, 0, 0, 0.03);
}

table tr th {
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

table tr td {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: rgba(52, 52, 52, 0.87);
}

.edit {
    cursor: pointer;
    width: 18px;
    height: 16px;
    background: url(../img/edit.png);
}

input,
select,
.select {
    padding-left: 10px;
    background: #FFFFFF;
    /* Border color */
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #000000;
}

textarea {
    background: rgba(0, 0, 0, 0.02);
    /* Border color */
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
}

input,
select,
.select {
    width: 170px;
    height: 32px;
}

.select {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.select__trigger {
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}

.select__trigger-arrow {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #c4c4c4 transparent transparent transparent;
}

.select__list {
    position: absolute;
    top: 32px;
    background: #fff;
    width: 170px;
    display: none;
    -webkit-box-shadow: 0px 6px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 14px -4px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.select.opened>.select__list {
    display: block;
}

.select__list-item {
    list-style: none;
    padding-left: 10px;
    margin: 5px 0;
}

.select__list-item.active,
.select__list-item:hover {
    background: #1B65C0;
    color: #fff;
}

header {
    width: 100%;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*CONTENT*/

.content {
    /* float: left; */
    margin-bottom: 10px;
}

.form-frame {
    padding: 19px 17px 22px 20px;
    border: 1px solid #C4C4C4;
}

.add-img {
    float: left;
    margin: 10px 5px 0;
    width: 28px;
    height: 24px;
    background: url(../img/add-photo.png);
}

.courses-table {
    width: 100%;
}

.courses-table td {
    text-align: left;
}

.courses-table td {
    height: 40px;
    font-size: 12px;
}

.courses-table td a {

    font-size: 14px;
}

.fa-trash-alt {
    color: #EB5757;
}

.redesign .fa-trash-alt {
    color: #FEBE98;
}

.fa-edit,
.fa-sign-in-alt {
    color: #1B65C0;
}

.ad-block {
    background: #F5F5F5;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.spacer {
    display: inline-block;
}

.no-margin {
    margin: 0;
}

.invalid-feedback {
    font-size: 12px;
    color: red;
}

.edit-section-form.fancybox-content {
    width: 812px;
}

.right-sidebar {
    width: 200px;
    float: left;
    margin-left: 24px;
}

.right-sidebar .ad-block {
    width: 200px;
    height: 380px;
}

.tickets .list {
    width: 232px;
    float: left;
    margin-right: 11px;
}

.tickets .list:last-child {
    margin-right: 0;
}

.tickets .list.double-col {
    width: 354px;
}

.tickets .list .list__item {
    height: 40px;
    padding-top: 7px;
}

.file-input-wrapper {
    position: relative;
    padding: 25px 0px 29px;
}

.file-input-wrapper * {
    margin: 0 auto;
    text-align: center;
}

.file-input-wrapper input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-input-wrapper small.info {
    display: block;
    margin-top: 10px;
}

.file-input-wrapper small.load,
.file-input-wrapper .loader {
    display: none;
}

.file-input-wrapper.loading .btn,
.file-input-wrapper.loading small.info {
    display: none;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.file-input-wrapper.loading .loader,
.file-input-wrapper.loading small.load {
    display: block;
}

.question {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 10px 20px 20px;
    position: relative;
}

.question__number {
    width: 146px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    color: #1B65C0;

}

.question.has-errors {
    background: #FFEEEE;
    border: 1px solid #E5C2C2;
}

.question.no-errors {
    background: #EEFFF5;
    border: 1px solid #ABD6BD;
}

.question__remove {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.question__answers-list-item {
    position: relative;
    width: 100%;
}

.question__answers-list-item:hover>.question__answers-list-item__remove {
    display: block;
}

.question__answers-list-item__remove {
    color: #C4C4C4;
    position: absolute;
    left: 55px;
    top: 5px;
    cursor: pointer;
}

.question__additional-answer input {
    display: inline-block;
    width: 572px;
}

.question__additional-answer .btn {
    display: inline-block;
    width: 136px;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}

.question .question__text {
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.success-heading {
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
    color: #219653;
}

.docs-form {
    float: left;
    width: 338px;
    height: 256px;
}

.docs-form-modal {
    width: 338px;
    height: 256px;
}

.docs-form input,
.docs-form .select,
.docs-form__input,
.docs-form__select {
    width: 100%;
}

.docs-form .form-field,
.docs-form__form-field {
    margin-bottom: 15px;
}

.docs-form .loader,
.docs-form .load,
.docs-form.loading .btn,
.docs-form.loading .info {
    display: none;
}

.docs-form.loading .loader,
.docs-form.loading .load {
    margin: 5px auto;
    display: block;
    text-align: center;
}

.answer-group {
    position: relative;
}

.back-href {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

.next-href {
    float: right;
    padding-top: 3px;
}

.protocol-checkbox {
    float: left;
}

.readonly {
    background: #eee;
}

.form-control-textarea {
    width: 481px;
    display: block;
    margin: 5px 0 5px 38px;
    background: #fff;
    height: 120px;
}

.form-control-textarea-section {
    width: 534px !important;
    margin: 5px 0 !important;
}

.doc-link {
    color: #000000;
}

.doc-link:hover {
    color: #1B65C0;
}

.external-link {
    color: #F58522;

    font-size: 16px;
    margin-top: -15px;
    width: 100%;
}

.external-link:hover,
.external-link:hover a {
    color: #FFFFFF;
}

.external-link a {
    color: #F58522;
    text-decoration: underline;
}

.mt-10 {
    margin-top: 10px;
}

.header-menu {
    display: block;
}

.header-menu__item {
    color: #fff;
}
.header.header__main,
.wrapper {
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание */
}

.content {
    max-width: 700px; /* Ограничиваем максимальную ширину, чтобы контент смотрелся гармонично */
    margin: auto; /* Центровка внутри родителя */
}

/* Шапка сайта */
.head {
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание */
    background-color: #fafafa;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.head label {
    display: inline-block; 
    margin-left:5px;
}

.head input {
    height: 0.7rem;
    margin-left: 5ch; 
    width: fit-content;
}

#cookie-consent-modal {
  position: fixed;               /* Фиксируем позицию */
  top: 30px;                     /* Верхняя позиция окна */
  left: 0;                       /* Левая сторона окна */
  right: 0;                      /* Правая сторона окна */
  background-color: rgba(0, 0, 0, 0.8); /* Темный полупрозрачный фон */
  color: white;                   /* Цвет текста белый */
  z-index: 1000;                 /* Элемент над всеми остальными */
  padding: 1rem;                 /* Внутренние отступы */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Тень для красоты */
  display: flex;                  /* Гибкая сетка */
  justify-content: center;        /* Центрирование по горизонтали */
  align-items: center;            /* Центрирование по вертикали */
}

.modal-content {
  background-color: transparent; /* Прозрачность фона */
  text-align: center;            /* Центровка текста */
}

.modal-content p{
  color: white;    
}

.modal-content button {
  cursor: pointer;               /* Курсор руки при наведении */
  background-color: #ffc107;     /* Желтый цвет кнопки */
  color: black;                  /* Черный текст на кнопке */
  border: none;                  /* Без границ */
  padding: 0.3rem 0.3rem;         /* Отступы вокруг текста */
  border-radius: 5px;            /* Округлые углы */
  font-size: .8rem;               /* Размер шрифта */
  outline: none;                 /* Без контуров при фокусировке */
  transition: transform 0.2s;    /* Анимация при клике */
  display: initial;
}

.modal-content button:hover {
  transform: scale(1.05);        /* Немного увеличиваем размер при наведении */
}

.hidden {
  display: none !important;
}
